@model CategoryViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlternativeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlternativeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaKeywords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FocusKeyword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FocusKeyword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsertDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeleteDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeleteDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEnable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEnable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentCategory.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
