@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlternativeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaKeywords)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FocusKeyword)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VisitCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsertUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeleteUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsertDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeleteDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDelete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsEnable)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlternativeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaKeywords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FocusKeyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategory.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
